body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

.title {
    font-size: 26px;
    color: #072c3f;
    text-align: center;
}

.subtitle {
    font-size: 20px;
    color: #072c3f;
    margin-top: 40px;
}

.chart-selector {
    width: 250px;
    margin: 15px 0;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
}

.card-title {
    margin-bottom: 10px;
    color: #072c3f;
}

.hidden {
    display: none;
}

/* Tablas */
.table-card {
    margin-top: 20px;
    padding: 15px;
    background: #fff;
    border-radius: 12px;
    overflow-x: auto; /* móvil */
}

.table-card table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

/* Hualpén link */
.hualpen {
    display: block;
    margin-top: 40px;
    text-align: center;
    color: #072c3f;
    font-weight: bold;
}

copyright {
    text-align: center;
    margin-top: 20px;
    color: #072c3f;
}

/* MOBILE FIX */
@media (max-width: 600px) {

    .container {
        width: 95%;
        padding: 10px;
    }

    .card {
        padding: 15px;
    }

    canvas {
        max-height: 260px !important;
    }

    table {
        font-size: 14px;
    }
}

