/* Estilos personalizados */
body {
    font-family: 'Poppins', sans-serif;
}

.status-enviado { background-color: #b6d7a8; }
.status-urgente { background-color: #ffe599; }
.status-retrasado { background-color: #ea9999; }

button {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #4a86e8;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #3b6fd1;
}

