body {
    background: #0f0f12;
    color: white;
    margin: 0;
    font-family: "Segoe UI", sans-serif;
}

.container {
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 25px;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.card {
    flex: 1;
    margin: 0 12px;
    padding: 22px;
    background: #18181b;
    border-radius: 14px;
    text-align: center;
    transition: 0.25s ease;
    box-shadow: 0 0 12px rgba(255,255,255,0.05);
}

.card:hover {
    transform: translateY(-6px);
    background: #1f1f24;
    box-shadow: 0 0 18px rgba(255,255,255,0.10);
}

.card h2 {
    margin-bottom: 5px;
    font-size: 20px;
}

.card p {
    margin-top: 10px;
    font-size: 30px;
    color: #4fc3f7;
    font-weight: bold;
}

.subtitle {
    margin-top: 40px;
    font-size: 24px;
}

.inventory-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    background: #18181b;
    border-radius: 10px;
    overflow: hidden;
}

.inventory-table th,
.inventory-table td {
    padding: 14px;
    text-align: center;
}

.inventory-table thead {
    background: #232327;
}

.inventory-table tbody tr {
    transition: 0.25s;
}

.inventory-table tbody tr:hover {
    background: #2c2c31;
    transform: scale(1.01);
}





